<div class="driver-container">
  <div class="title">
  </div>


  <div class="mat-elevation-z8 table-container">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Circuit name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="avg_lap_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Average lap time</th>
        <td mat-cell *matCellDef="let row"> {{millisToMinutes(row.avg_lap_time)}}</td>
      </ng-container>

      <ng-container matColumnDef="min_lap_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fastest lap time</th>
        <td mat-cell *matCellDef="let row"> {{millisToMinutes(row.min_lap_time)}} </td>
      </ng-container>

      <ng-container matColumnDef="max_lap_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slowest lap time</th>
        <td mat-cell *matCellDef="let row"> {{millisToMinutes(row.max_lap_time)}} </td>
      </ng-container>

      <ng-container matColumnDef="total_pit_stops">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of pit stops</th>
        <td mat-cell *matCellDef="let row"> {{row.total_pit_stops}} </td>
      </ng-container>

      <ng-container matColumnDef="fastest_pit_stop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fastest pit stop</th>
        <td mat-cell *matCellDef="let row"> {{row.fastest_pit_stop}} </td>
      </ng-container>

      <ng-container matColumnDef="slowest_pit_stop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slowest pit stop</th>
        <td mat-cell *matCellDef="let row"> {{row.slowest_pit_stop}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
        <td mat-cell *matCellDef="let row"> {{row.points}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "d"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]"></mat-paginator>
  </div>
</div>
