.driver-container {
  padding: 16px;

  .title {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  .table-container {
    margin: 0 auto;
    width: 80%;
    height: 80%;

    table {
      width: 100%;
    }

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
  }
}

