.drivers-container {
  padding: 16px;

  .choose-season {
    width: 100%;
display: flex;
    justify-content: center;
  }

  .table-container {
    margin: 0 auto;
    width: 80%;
    height: 80%;

    .driver-image{
      height: 80px;
      width: 80px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    table {
      width: 100%;
    }

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
  }
}

