<div class="drivers-container">
  <div class="choose-season">
    <mat-form-field appearance="fill">
      <mat-label>Choose Season</mat-label>
      <mat-select [(ngModel)]="selectedSeason" (selectionChange)="seasonChangeHandler(selectedSeason)">
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{season.year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="mat-elevation-z8 table-container">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <img class="driver-image" mat-card-avatar
               src='{{"https://www.formula1.com/content/fom-website/en/drivers/" + row.forename.toLowerCase() + "-" + row.surname.toLowerCase() + "/_jcr_content/image.img.1920.medium.jpg"}}'>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.forename + ' ' + row.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality</th>
        <td mat-cell *matCellDef="let row"> {{row.nationality}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Points</th>
        <td mat-cell *matCellDef="let row"> {{row.points}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>

      <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Wins</th>
        <td mat-cell *matCellDef="let row"> {{row.wins}} </td>
      </ng-container>

      <ng-container matColumnDef="like">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="{{row.favorite ? 'warn' : 'grey'}}" (click)="likeHandler($event, row.driverId, !row.favorite)">
            <mat-icon>favorite</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [routerLink]="['/driver', row.driverId]" *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the {{selectedSeason.year}}'s season</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]"></mat-paginator>
  </div>
</div>
